%table#movies
  %thead
    %tr
      %th Title
      %th Director
      %th Rating
      %th Release Date
      
  %tbody
    - @similar_movie.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.director
        %td= movie.rating
        %td= movie.release_date
= link_to 'Back to movie list', movies_path